<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlingchun.mybatis.mapper.UserMapper">

    <sql id="base" >
        id, name, real_name, birth, age, money
    </sql>

    <select id="findAll" resultType="com.zlingchun.mybatis.entity.po.User">
        select
         <include refid="base"/>
         from t_user
    </select>

    <insert id="add" parameterType="com.zlingchun.mybatis.entity.po.User" useGeneratedKeys="true" keyProperty="id">
        insert into t_user(name, real_name, birth, age, money) values (#{name}, #{realName}, #{birth}, #{age}, #{money})
    </insert>

</mapper>